// box sizing
html {
  scroll-behavior: smooth;
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  scroll-margin-top: 100px;
}
img {
  position: relative;
  box-sizing: content-box;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fbf7f4 url(../img/placeholder.svg) center center no-repeat;

    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}
// nastavení velikosti písma
:root {
  font-size: 100%;
}
// základní definice
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  color: $color_gray;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1;
  background: $color_white;
  -webkit-overflow-scrolling: touch;
}
main {
  flex: 1 0 auto;
  //overflow: hidden;
}
// základní nastavení respo
@-ms-viewport {
  width: device-width;
}
img,
picture {
  -ms-interpolation-mode: nearest-neighbor;
  transform: translateZ(0);
  backface-visibility: hidden;
  image-rendering: auto;
}
img,
svg {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border: none;
}
iframe {
  max-width: 100%;
}
label {
  user-select: none;
}
textarea {
  max-width: 100%;
}
