// webové fonty
// doporučuji využít https://google-webfonts-helper.herokuapp.com/fonts
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('#{$fontPath}/roboto-v29-latin-ext_latin-regular.eot');
  src: local(''), url('#{$fontPath}/roboto-v29-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}/roboto-v29-latin-ext_latin-regular.woff2') format('woff2'), url('#{$fontPath}/roboto-v29-latin-ext_latin-regular.woff') format('woff'), url('#{$fontPath}/roboto-v29-latin-ext_latin-regular.ttf') format('truetype'), url('#{$fontPath}/roboto-v29-latin-ext_latin-regular.svg#Roboto') format('svg');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('#{$fontPath}/roboto-v29-latin-ext_latin-500.eot');
  src: local(''), url('#{$fontPath}/roboto-v29-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-v29-latin-ext_latin-500.woff2') format('woff2'), url('../fonts/roboto-v29-latin-ext_latin-500.woff') format('woff'), url('../fonts/roboto-v29-latin-ext_latin-500.ttf') format('truetype'), url('../fonts/roboto-v29-latin-ext_latin-500.svg#Roboto') format('svg');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('#{$fontPath}/roboto-v29-latin-ext_latin-700.eot');
  src: local(''), url('#{$fontPath}/roboto-v29-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}/roboto-v29-latin-ext_latin-700.woff2') format('woff2'), url('#{$fontPath}/roboto-v29-latin-ext_latin-700.woff') format('woff'), url('#{$fontPath}/roboto-v29-latin-ext_latin-700.ttf') format('truetype'), url('#{$fontPath}/roboto-v29-latin-ext_latin-700.svg#Roboto') format('svg');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('#{$fontPath}/poppins-v19-latin-ext_latin-regular.eot');
  src: local(''), url('#{$fontPath}/poppins-v19-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}/poppins-v19-latin-ext_latin-regular.woff2') format('woff2'), url('#{$fontPath}/poppins-v19-latin-ext_latin-regular.woff') format('woff'), url('#{$fontPath}/poppins-v19-latin-ext_latin-regular.ttf') format('truetype'), url('#{$fontPath}/poppins-v19-latin-ext_latin-regular.svg#Poppins') format('svg');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('#{$fontPath}/poppins-v19-latin-ext_latin-500.eot');
  src: local(''), url('#{$fontPath}/poppins-v19-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}/poppins-v19-latin-ext_latin-500.woff2') format('woff2'), url('#{$fontPath}/poppins-v19-latin-ext_latin-500.woff') format('woff'), url('#{$fontPath}/poppins-v19-latin-ext_latin-500.ttf') format('truetype'), url('#{$fontPath}/poppins-v19-latin-ext_latin-500.svg#Poppins') format('svg');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('#{$fontPath}/poppins-v19-latin-ext_latin-600.eot');
  src: local(''), url('#{$fontPath}/poppins-v19-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}/poppins-v19-latin-ext_latin-600.woff2') format('woff2'), url('#{$fontPath}/poppins-v19-latin-ext_latin-600.woff') format('woff'), url('#{$fontPath}/poppins-v19-latin-ext_latin-600.ttf') format('truetype'), url('#{$fontPath}/poppins-v19-latin-ext_latin-600.svg#Poppins') format('svg');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('#{$fontPath}/poppins-v19-latin-ext_latin-700.eot');
  src: local(''), url('#{$fontPath}/poppins-v19-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}/poppins-v19-latin-ext_latin-700.woff2') format('woff2'), url('#{$fontPath}/poppins-v19-latin-ext_latin-700.woff') format('woff'), url('#{$fontPath}/poppins-v19-latin-ext_latin-700.ttf') format('truetype'), url('#{$fontPath}/poppins-v19-latin-ext_latin-700.svg#Poppins') format('svg');
  font-display: swap;
}
