.wowtooltip {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin: -10px;
  padding: 10px;
  color: $color_black;
  &:hover,
  &:focus {
    .wowtooltip-dropdown {
      display: block;
      animation: fadeIn 0.15s;
    }
  }
}
.wowtooltip__label {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: $index_modal - 2;
    display: flex;
    width: 100%;
    height: 100%;
    cursor: help;
  }
}
.wowtooltip-dropdown {
  position: absolute;
  bottom: calc(100% - 10px);
  left: calc(100% - 10px);
  z-index: $index_modal - 3;
  display: none;
  pointer-events: none;
}
.wowtooltip-dropdown__content {
  display: block;
  width: auto;
  padding: 8px 12px;
  color: $color_white;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  white-space: initial;
  border-radius: $radius;
  background-color: $color_gray_dark;
}
.wowtooltip--open {
  .wowtooltip-dropdown {
    display: block;
    animation: fadeIn 0.15s;
  }
}
