.agent__title {
  margin-bottom: 30px;
}
.agent__wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px 10px;
  padding: 32px 16px;
  border-radius: 6px;
  background: #f9f9f9;
  @media (min-width: $mqmd) {
    padding: 32px;
  }
}
.agent__name {
  margin-bottom: 15px;
  &.title {
    font-weight: 600;
  }
}
.agent__info {
  position: relative;
  min-height: 111px;
  margin-bottom: 16px;
  padding-left: 124px;
  p {
    margin-bottom: 5px;
    color: $color_gray_dark;
    font-size: 16px;
    &:last-child {
      margin: 0;
    }
    span {
      color: #a5a5a5;
    }
    strong {
      font-weight: 600;
    }
  }
  a {
    color: $color_gray_dark;
    text-decoration: none;
    transition: $transition;
    &:hover,
    &:focus {
      color: $color_main;
    }
  }
  h3 {
    font-weight: 600;
  }
  .hidden-phone-number:not(:has(strong)) {
    font-weight: 600;
  }
}
.agent__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 104px;
  height: 111px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $radius;
  }
}
.agent__agency {
  display: flex;
  align-items: center;
  gap: 20px 14px;
  .title--text {
    margin-bottom: 8px;
  }
}
.agent__agency-logo {
  max-width: 102px;
}
.agent__agency-info {
  color: #a5a5a5;
  font-size: 16px;
  ul {
    margin: -2px 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin: 0;
    padding: 2px 0;
    text-wrap: pretty;
  }
  a {
    color: #a5a5a5;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $color_main;
    }
  }
}
