.badge,
a.badge {
  display: inline-block;
  margin: 0;
  padding: 6px 10px;
  color: #0f0f0f;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: calc(16 / 14);
  white-space: nowrap;
  text-decoration: none;
  border-radius: 4px;
  background: rgba(89, 89, 89, 0.05);
  transition: $transition;
}
a.badge {
  &:hover,
  &:focus,
  &.is-active {
    color: $color_white;
    background-color: $color_main;
  }
}
.badge--rounded,
a.badge--rounded {
  color: $color_gray_dark;
  font-size: 13px;
  line-height: calc(15 / 13);
  border-radius: 45px;
  background: rgba(79, 79, 79, 0.06);
}
.badge--estate,
a.badge--estate {
  padding: 6px 14px;
  color: $color_gray_dark;
  font-weight: 500;
  border-radius: 54px;
  background: #fbf7f4;
}
a.badge--estate {
  &:hover,
  &:focus,
  &.is-active {
    color: $color_main;
    background: rgba(253, 6, 74, 0.05);
  }
}
.badge--light,
a.badge--light {
  &:hover,
  &:focus,
  &.is-active {
    color: $color_main;
    background-color: rgba(253, 6, 74, 0.1);
  }
}
.badge__energy-efficiency {
  display: inline-flex;
  min-height: 15px;
  padding: 0 9px;
  color: #fff;
  border-radius: 100px;
  &[data-rating='a-plus'] {
    background-color: #4caf50;
  }
  &[data-rating='b'] {
    background-color: #8bc34a;
  }
  &[data-rating='c'] {
    color: #000;
    background-color: #ffeb3b;
  }
  &[data-rating='d'] {
    background-color: #ff9800;
  }
  &[data-rating='e'] {
    background-color: #f44336;
  }
  &[data-rating='g'],
  &[data-rating='f'] {
    background-color: #d32f2f;
  }
}
