.blog-detail {
  padding: 12px 0 30px 0;
  @media (min-width: $mqsm) {
    padding-bottom: 48px;
  }
  @media (min-width: $mqlg) {
    padding-bottom: 70px;
  }
}
.blog-detail__hero-image {
  position: relative;
  overflow: hidden;
  height: 0;
  margin-bottom: 16px;
  padding-bottom: calc(400 / 1437 * 100%);
  border-radius: $radius;

  -webkit-mask-image: -webkit-radial-gradient(white, black);
  @media (min-width: $mqsm) {
    margin-bottom: 32px;
  }
  @media (min-width: $mqlg) {
    margin-bottom: 48px;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.blog-detail__title,
.blog-detail__title.title {
  margin-bottom: 22px;
}
.blog-detail__image {
  overflow: hidden;
  max-width: 536px;
  margin: 10px auto 40px;
  border-radius: $radius;

  -webkit-mask-image: -webkit-radial-gradient(white, black);
  img {
    display: block;
  }
}
.blog-detail__image--right {
  @media (min-width: $mqmd) {
    float: right;
    margin: 10px 0 10px 20px;
  }
}
