.data {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
  }
  p {
    font-size: 14px;
    line-height: 1.5;
  }
  strong {
    font-weight: 600;
  }
  + .description__content {
    margin-top: 48px;
  }
}
.data__item {
  flex: 1 1 auto;
  width: 100%;
  padding: 18px 20px;
  border-radius: 3px;
  background: #f9f9f9;
  @media (min-width: $mqsm) {
    width: calc(100% / 3);
    max-width: 190px;
  }
  &:nth-child(2) {
    flex-grow: 1;
    max-width: initial;
  }
}
.data__item--highlight {
  color: $color_white;
  background: $color_main;
  h4 {
    color: $color_white;
  }
}
.data__item--energy {
  padding-right: 0;
  padding-left: 0;
  background: transparent;
}
