.detail-top {
  padding: 16px 0 0 0;
  background: #f7f7f7;
  @media (min-width: $mqsm) {
    padding: 30px 0 0 0;
  }
  .estate__data {
    margin-top: 0;
  }
}
.detail-top__title {
  max-width: 1010px;
  margin-bottom: 8px;
}
.detail-top__subtitle {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin: 0;
  small {
    color: $color_gray;
    font-weight: 500;
  }
  &.title {
    color: $color_main;
  }
}
.detail-top__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 13px 26px;
  margin-bottom: 24px;
  &:last-child {
    margin: 0;
  }
}
.detail-top__action-menu {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 26px;
  border-bottom: solid 1px rgba(217, 217, 217, 0.4);
  @media (min-width: $mqsm) {
    margin-top: 52px;
  }
  .join {
    margin-bottom: 24px;
    @media (max-width: calc($mqsm - 1px)) {
      order: -1;
    }
  }
}
.detail-top__overview {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

