.directory-top {
  padding: 16px 0 30px 0;
  @media (min-width: $mqsm) {
    padding: 30px 0;
  }
  @media (min-width: $mqlg) {
    padding: 48px 0 30px;
  }
}
.directory-top__count {
  margin-bottom: 64px;
  padding-bottom: 32px;
  font-size: 32px;
  font-weight: 500;
  border-bottom: solid 1px #d7d7d7;
  strong {
    color: $color_main;
    font: inherit;
  }
}
