.footer-nav,
ul.footer-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  column-count: 2;
  @media (min-width: $mqsm) {
    column-count: 3;
  }
  li {
    margin: 0;
    padding: 0;
  }
  a {
    color: #2c2e3f;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: calc(24 / 16);
    text-decoration: none;
    opacity: 0.9;
    &:hover,
    &:focus {
      color: $color_main;
    }
  }
}
