.gallery-simple {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 10px;
  margin: 32px 0;
  &:last-child {
    margin-bottom: 0;
  }
  @media (min-width: $mqsm) {
    gap: 24px 18px;
  }
  @media (min-width: $mqlg) {
    margin: 64px 0;
  }
}
.gallery-simple--typo {
  grid-template-columns: 1fr 1fr;
  max-width: 700px;
  margin: 0 auto;
  @media (min-width: $mqsm) {
    grid-gap: 32px;
  }
}
.gallery-simple__item {
  position: relative;
  display: block;
  overflow: hidden;
  height: 0;
  padding-bottom: calc(165 / 191 * 100%);
  border-radius: $radius;

  -webkit-mask-image: -webkit-radial-gradient(white, black);
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.gallery-simple__wrap {
  margin: 32px 0;
  @media (min-width: $mqlg) {
    margin: 64px 0;
  }
}
.gallery-simple__more {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $color_white;
  font-size: 24px;
  text-transform: uppercase;
  border: none;
  outline: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  @media (min-width: $mqsm) {
    font-size: 36px;
  }
  .btn {
    margin-top: 15px;
  }
}
