.interested,
a.interested {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px 10px;
  text-decoration: none;
  border-radius: 5px;
  background: #fbf7f4;
  transition: $transition;
  &:hover,
  &:focus {
    background: darken(#fbf7f4, 10%);
  }
}
.interested__title,
.interested__logo {
  margin: 7px 10px;
}
