.listing {
  padding: 12px 0;
  .interested {
    margin: 40px 0;
  }
  @media (min-width: $mqsm) {
    padding: 20px 0;
  }
}
.listing--filter {
  padding-top: 0;
  .listing__map {
    height: calc(100vh - 156px - 16px);
    @media (max-width: calc($mqmd - 1px)) {
      // order: -1;
      // margin-top: 0;
    }
    @media (max-width: calc($mqmd - 1px)) and (orientation: landscape) {
      // min-height: 266px;
    }
    @media (min-height: $mqsm) and (max-width: calc($mqmd - 1px)) {
      height: calc(50vh - 156px - 16px);
    }
    @media (min-width: $mqmd) and (min-height: 720px) {
      //position: sticky;
      top: 156px;
      //width: 45%;
      //margin-top: 0;
    }
    @media (min-width: $mqmd) {
      //width: 45%;
    }
  }
}
.listing__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  @media (min-width: $mqmd) {
    flex-wrap: nowrap;
  }
  @media (min-width: $mqxlg) {
    gap: 50px;
  }
}
.listing__content {
  width: 100%;
  @media (min-width: $mqmd) {
    width: 55%;
    max-width: 788px;
  }
}
.listing__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
  .estate,
  .banner {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
    padding-bottom: 32px;
    @media (min-width: $mqxs) {
      width: calc(50% - 10px / 2);
    }
    @media (min-width: $mqlg) {
      width: 100%;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: rgba($color: #c4c4c4, $alpha: 0.3);
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      &:after {
        display: none;
      }
    }
    &:nth-last-child(2) {
      @media (min-width: $mqxs) and (max-width: $mqlg) {
        margin-bottom: 0;
        padding-bottom: 0;
        &:after {
          display: none;
        }
      }
    }
  }
  .banner {
    width: 100%;
  }
  + .pagination {
    margin-top: 48px;
    @media (min-width: $mqmd) {
      margin-top: 64px;
    }
  }
}
.listing__map {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 80px - 16px);
  min-height: 540px;
  margin-top: -10px;
  border-radius: 5px;

  -webkit-mask-image: -webkit-radial-gradient(white, black);
  @media (max-width: calc($mqmd - 1px)) {
    order: -1;
    margin-top: 0;
  }
  @media (max-width: calc($mqmd - 1px)) and (orientation: landscape) {
    min-height: 266px;
  }
  @media (min-height: $mqsm) and (max-width: calc($mqmd - 1px)) {
    height: calc(50vh - 80px - 16px);
  }
  @media (min-width: $mqmd) and (min-height: 720px) {
    position: sticky;
    top: 80px;
    width: 45%;
    margin-top: 0;
  }
  @media (min-width: $mqmd) {
    width: 45%;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}
.listing__title {
  margin-bottom: 16px;
  margin-bottom: 0;
}
.listing__top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px 16px;
  margin-bottom: 20px;
  .listing__title {
    margin: 0;
  }
}
.listing__heading {
  margin-bottom: 20px;
}
.listing__top-col {
  display: flex;
  flex-wrap: wrap;
  gap: 11px 8px;
  // &:first-child {
  // flex-direction: column;
  // }
}
.listing__additional {
  margin-top: 40px;
  @media (min-width: $mqsm) {
    margin-top: 70px;
  }
}
.listing__agencies {
  .listing__map {
    @media (min-width: $mqmd) and (min-height: 720px) {
      top: calc(60px + 8px);
      height: calc(100vh - 68px - 40px);
    }
  }
  .listing__grid {
    display: grid;
  }
  .estate {
    display: grid;
  }
}
