// modální okna
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $index_modal;
  display: none;
  overflow: hidden;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  .filter .filter__dropdown-inside {
    width: 100%;
    min-width: 100%;
  }
  .filter__dropdown-checkbox-wrap {
    @media (min-width: $mqmd) {
      width: 100%;
    }
    .form-checkbox {
      @media (min-width: $mqmd) {
        width: calc(100% / 2 - 3px);
      }
    }
  }
}
.modal--full {
  .modal__body {
    width: 100%;
    max-width: calc(100vw - 20px);
    height: 100%;
    max-height: calc(100% - 20px);
  }
}
// vnitřní část modal okna
.modal__body {
  position: absolute;
  top: 50%;
  left: 50%;
  //overflow: auto;
  width: 100%;
  max-width: calc(100vw - 20px);
  max-height: calc(100% - 20px);
  padding: 35px 15px;
  font-size: 14px;
  border-radius: $radius;
  background-color: $color_white;
  transform: translate(-50%, -50%);
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media (min-width: $mqsm) {
    max-width: 680px;
    padding: 40px;
  }
}
.modal__content {
  & > h2.title {
    @media (min-width: $mqsm) {
      margin-bottom: 46px;
    }
  }
}

// zavírací tlačítko
.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: $index_base;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  transition: $transition;
  @media (min-width: $mqsm) {
    width: 65px;
    height: 65px;
  }
  &:hover,
  &:focus {
    .icon {
      color: $color_main;
    }
  }
  .icon {
    width: 15px;
    margin-top: 13px;
    color: $color_black;
    transition: $transition;
    @media (min-width: $mqsm) {
      width: 20px;
      margin-top: 23px;
    }
  }
}
.modal__bottom-action {
  margin: 16px 0;
  padding: 16px 0;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  &:last-child {
    margin-bottom: 0;
  }
}
.modal--search {
  .modal__body {
    @media (min-width: $mqsm) {
      max-width: 930px;
    }
  }
  .form__row {
    align-items: start;
  }
  .form__item--limit {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .form-label {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    min-height: 28px;
    line-height: 1.4;
    hyphens: auto;
  }
  .price-inputs input {
    height: 42px;
  }
  .form-radio__wrap--2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 0;
    .form-label {
      justify-content: center;
    }
    .form-radio--tag {
      padding: 0;
    }
  }
  .form-checkbox__limit-2 .form-label {
    line-height: 28px;
    display: block;
    white-space: nowrap;
  }
  @media (min-width: $mqxs) {
    .form-checkbox__limit .form-checkbox {
      width: calc(100% / 4);
    }
    .form__item--limit {
      flex: 1;
    }
  }
  @media (min-width: $mqsm) {
    .form-checkbox__limit .form-checkbox {
      width: calc(100% / 5);
    }
    .modal__content > h2.title {
      margin-bottom: 24px;
    }
  }
  @media (min-width: $mqmd) {
    .filter__dropdown-checkbox-wrap .form-checkbox {
      width: 100%;
    }
  }
}

