.nav-switcher {
  position: relative;
  width: 24px;
  height: 24px;
  outline: 0;
  cursor: pointer;
  @media (min-width: $mq_menu) {
    margin-left: 30px;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: -18px;
      width: 1px;
      height: 38px;
      background: rgba($color: #000, $alpha: 0.08);
      transform: translate(0, -50%);
    }
  }
  &.is-open {
    z-index: $index_menu;
    .nav-switcher--line {
      background-color: transparent !important;
      transition-delay: 0.22s;
      &:before,
      &:after {
        background: $color_white;
      }
      &:before {
        top: 0;
        transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
        transform: translate3d(0, 8px, 0) rotate(45deg);
      }
      &:after {
        top: 0;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
        transform: translate3d(0, 8px, 0) rotate(-45deg);
      }
    }
    &:after {
      display: none;
    }
  }
  @media (min-width: $mq_menu) {
    //display: none;
  }
}
.nav-switcher--line {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 18px;
  height: 2px;
  margin-top: 5px;
  border-radius: 0;
  //background: $color_gray_dark;
  background: $color_main;
  transition: background-color 0s linear 0.13s;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  transform: translate(-50%, 0);
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 18px;
    height: 2px;
    border-radius: 0;
    //background: $color_gray_dark;
    background: $color_main;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
  }
  &:before {
    top: 6px;
    transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  &:after {
    top: 12px;
    transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}
