.offer-item {
  position: relative;
  overflow: hidden;
  height: 364px;
  color: $color_white;
  border-radius: 4px;

  -webkit-mask-image: -webkit-radial-gradient(white, black);
  h3 {
    margin-bottom: 2px;
    color: $color_white;
    font-size: 24px;
    font-weight: 500;
    line-height: calc(36 / 24);
  }
  h4 {
    margin-bottom: 2px;
    color: $color_white;
    font-size: 14px;
    font-weight: 600;
    line-height: calc(28 / 14);
  }
  p {
    color: rgba($color: $color_white, $alpha: 0.8);
  }
  ul {
    padding: 0;
    list-style: none;
  }
  li {
    display: block;
    margin: 0;
    padding: 8px 0;
  }
  a {
    display: inline-block;
    color: $color_white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-decoration: none;
    &:hover,
    &:focus {
      color: $color_main;
    }
  }
  .simplebar-scrollbar {
    border-color: transparent;
    &:before {
      background: $color_main;
    }
  }
  &:hover,
  &:focus,
  &.is-active {
    .offer-item__back {
      top: 0;
    }
  }
}
.offer-item__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.offer-item__front {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 28px;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 179px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    opacity: 0.5;
  }
}
.offer-item__back {
  position: absolute;
  top: 100%;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 28px 28px 10px 28px;
  background: rgba(0, 0, 0, 0.8);
  transition: $transition;
  @supports (backdrop-filter: none) {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
  }
}
.offer-item__back-top {
  margin-bottom: 30px;
}
.offer-item__back-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -10px;
}
.offer-item__back-block {
  flex: 0 1 auto;
  width: 50%;
  padding: 10px;
  ul {
    column-count: 2;
  }
  li {
    padding: 6px 0;
  }
}
.offer-item__property_types_wrapper {
  display: flex;
  justify-content: space-between;
}
.offer-item__property_types {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
