.offer {
  padding: 50px 0;
  @media (min-width: $mqsm) {
    padding: 70px 0;
  }
}
.offer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  h2,
  .title {
    margin: 0;
    padding: 0 20px 0 0;
  }
}
.offer__nav {
  display: flex;
  align-items: center;
  margin: -5px;
}
.offer__nav-arrow {
  padding: 5px;
  color: $color_gray_dark;
  cursor: pointer;
  transition: $transition;
  &:hover {
    color: $color_main;
  }
}
