.properties {
  margin-bottom: 32px;
  color: $color_black;
  font-size: 14px;
  line-height: calc(21 / 14);
  @media (min-width: $mqsm) {
    margin-bottom: 48px;
  }
  strong {
    font-weight: 600;
  }
}
.properties__wrap,
.properties__wrap-inside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}
.properties__more {
  display: none;
}
.properties__block {
  flex: 0 1 auto;
  width: 100%;
  @media (min-width: $mqxs) {
    width: calc(50% - 16px);
    max-width: 350px;
  }
}
.properties__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 12px 0;
  p {
    margin: 0;
    &:first-child {
      opacity: 0.5;
    }
    &:last-child {
      max-width: 226px;
      text-align: right;
    }
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 1px;
    background: rgba($color: #4f4f4f, $alpha: 0.1);
    transform: translate(-50%, 0);
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}
.properties__title {
  margin-bottom: 8px;
}
.properties__more-less {
  flex: 0 0 auto;
  width: 100%;
  margin: 0;
  color: $color_main;
  text-align: center;
  cursor: pointer;
  &:hover {
    color: $color_main_dark;
    text-decoration: underline;
  }
  span {
    &:last-child {
      display: none;
    }
  }
  &.is-active {
    span {
      &:first-child {
        display: none;
      }
      &:last-child {
        display: block;
      }
    }
  }
}
.properties__highlight {
  display: inline-block;
  padding: 8px 16px;
  color: $color_white;
  font: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-decoration: none;
  border: none;
  border-radius: $radius_button;
  background-color: $color_main;
  cursor: pointer;
  transition: $transition;
}
