.range {
  width: 100%;
  min-width: 250px;
  @media (min-width: $mqsm) {
    min-width: 350px;
  }
  p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  .noUi-connect {
    background: $color_main;
  }
  .noUi-handle {
    right: -9px;
    width: 16px;
    height: 16px;
    border: 2px solid #fdfdfc;
    border-radius: 100%;
    outline: 0;
    background: #fdfdfc;
    box-shadow: 0 32px 64px rgba(0, 0, 0, 0.24), 0 0 8px rgba(0, 0, 0, 0.2);
    &:before,
    &:after {
      display: none;
    }
  }
}
.range__slider {
  position: relative;
  width: calc(100% - 16px);
  height: 5px;
  margin: 25px auto 10px;
  border: 0;
  border-radius: 0;
  background: #f4f4f4;
  box-shadow: none;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% + 16px);
    height: 100%;
    border-radius: 0;
    background: #f4f4f4;
    transform: translate(-50%, 0);
  }
}
