.rating {
  display: flex;
  align-items: center;
  gap: 6px;
  p {
    color: $color_gray;
    font-size: 12px;
  }
}
.rating__stars {
  display: flex;
  align-items: center;
  color: $color_main;
}
