.read-time,
p.read-time {
  position: relative;
  margin-bottom: 20px;
  padding-left: 24px;
  color: rgba($color: #121212, $alpha: 0.3);
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: calc(12 / 13);
  letter-spacing: 0.5px;
  @media (min-width: $mqlg) {
    margin-bottom: 39px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 1px;
    background: #dedede;
    transform: translate(0, -50%);
  }
}
