.read-more {
  position: relative;
  overflow: hidden;
  height: 200px;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
    transition: $transition;
  }
  &.is-active {
    &:after {
      opacity: 0;
    }
  }
}
.read-more__btn {
  span {
    &:last-child {
      display: none;
    }
  }
  &.is-active {
    span {
      &:first-child {
        display: none;
      }
      &:last-child {
        display: block;
      }
    }
  }
}
