.search-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 820px;
  margin: 0 auto 32px;
  @media (min-width: $mqxs) {
    flex-direction: row;
    height: 48px;
    padding: 0;
  }
  @media (min-width: $mqlg) {
    margin: 0 auto 64px;
  }
  .custom-select--filter {
    border: 0;
  }
}
.search-filter__search {
  position: relative;
  flex-grow: 1;
  height: 100%;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 16px;
    width: 18px;
    height: 18px;
    background: url(../img/magnify.svg) no-repeat center;
    background-size: contain;
    transform: translate(0, -50%);
    pointer-events: none;
    @media (min-width: $mqxs) {
      left: 18px;
    }
  }
  input {
    height: 100%;
    padding-left: 50px;
    border: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: transparent;
  }
}
.search-filter__select {
  display: flex;
  align-items: center;
  height: 100%;
  label {
    @media (max-width: calc($mqxs - 1px)) {
      min-width: 45px;
    }
  }
  .custom-select {
    @media (min-width: $mqxs) {
      width: auto;
      min-width: 150px;
    }
  }
  .btn {
    height: 100%;
    margin-left: auto;
  }
}
.search-filter__agencies {
  margin: 8px 0 20px;
}
