.service {
  padding: 50px 0 30px;
  @media (min-width: $mqsm) {
    padding: 70px 0 50px;
  }
  h2 {
    text-align: center;
  }
  h3 {
    max-width: 200px;
    min-height: 48px;
    margin: 0 auto 18px auto;
    line-height: 1.5;
  }
}
.service__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  @media (min-width: $mqsm) {
    margin-top: 50px;
  }
}
.service__icon {
  min-height: 40px;
  margin-bottom: 10px;
  color: $color_main;
  @media (min-width: $mqsm) {
    margin-bottom: 20px;
  }
}
.service__item {
  flex: 0 0 auto;
  width: 100%;
  padding: 10px;
  color: $color_gray;
  text-align: center;
  text-decoration: none;
  border-radius: $radius;
  background-color: $color_white;
  transition: $transition;
  @media (min-width: $mqxs) {
    width: calc(50% - 5px);
  }
  @media (min-width: $mqsm) {
    padding: 20px 10px;
  }
  @media (min-width: $mqmd) {
    width: calc(25% - 10px);
    max-width: 272px;
  }
  &:hover,
  &:focus {
    color: $color_gray;
    box-shadow: 0 0.6px 1.8px rgba(0, 0, 0, 0.11), 0 3.2px 7.2px rgba(0, 0, 0, 0.13);
  }
}
