.subscribe {
  position: relative;
  display: flex;
  align-items: center;
}
.subscribe__input {
  padding: 17px 140px 17px 0;
  color: $color_gray_dark;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: calc(24 / 16);
  border: 0;
  border-bottom: 1px solid rgba($color: #000, $alpha: 0.2);
  border-radius: 0;
  background: transparent;
  &::placeholder {
    color: $color_gray_dark;
    font-weight: 600;
    opacity: 1;
  }
  &:focus {
    border-bottom-color: $color_main;
  }
}
.subscribe__submit {
  position: absolute;
  top: 50%;
  right: 0;
  color: rgba($color: $color_gray_dark, $alpha: 0.2);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: calc(24 / 16);
  white-space: nowrap;
  border: 0;
  outline: 0;
  background: transparent;
  transition: $transition;
  transform: translate(0, -50%);
  &:hover,
  &:focus {
    color: $color_main;
  }
}
