.text-block-invert {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  max-width: 100%;
  min-height: 150px;
  margin: 40px auto;
  padding: 30px;
  color: $color_white;
  font-weight: 500;
  text-align: center;
  background: $color_main;
}
